body {
  font-size: larger;
  background-image: url(assets/katsuragi-transparent35.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.container {
  margin: auto;
  padding: 20px;
  max-width: 350px;
  border-radius: 10px;
  background-color: rgb(255, 239, 94);
  text-align: center; /*adicionado por mim*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

input {
  display: block; /* blocks occupy the entire width, nothing comes aside of an element with display : block */
  box-sizing: border-box; /*the given dimmensions account padding (100px width represents content + padding)*/
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.button {
  width: 70px;
  height: 50px;
  border: solid 1px;
  border-radius: 10px;
}